# Ignore individual files
*.Rproj.user
.Rhistory
.RData
.Ruserdata
*.qmd

# Sub-directories
data/
Procedure_files/
CN_US_Metadata/
archive/

# Ignore all .html and .R files in the root directory only
/*.html
/*.R


# DO NOT ignore .R files in the docs sub-directory.
# !/*docs/.R
# !/*app/.R

